# GASTO MEDIO - CARACTERÍSTICAS CLIENTE 
# - CARACTERÍSTICAS SOPORTE

# JOIN

# Proposito:

En este notebook nos dedicaremos a la unión del gasto medio con características de nuestro cliente. 

cargamos los ficheros y miramos los tipos de variables, creamos variables categoricas y hago una union simple de los datos con los ficheros que tienen fecha paies e isla. fin con eso creo que puedo hacer un predictor. ya luego veremos si se añaden características de soporte o que...

In [1]:
%load_ext watermark
%watermark

Last updated: 2023-02-14T11:12:38.730489+00:00

Python implementation: CPython
Python version       : 3.8.5
IPython version      : 7.19.0

Compiler    : MSC v.1916 64 bit (AMD64)
OS          : Windows
Release     : 10
Machine     : AMD64
Processor   : Intel64 Family 6 Model 126 Stepping 5, GenuineIntel
CPU cores   : 8
Architecture: 64bit

In [2]:
import pandas as pd
import numpy as np
import os
import re

# PREPARACION PREVIA

Primero necesitamos copiar todos nuestros archivos en una carpeta donde podramos manipularlos para así conservar los archivos originales

In [3]:
from distutils.dir_util import copy_tree

# Método que limpia la carpeta de datos volatiles ya que es 
# una carpeta activa en todos los programas que hemos generado.
def limpiaCarpetaVolatil(rutaCopia):
    print("Limpiando Carpeta Volatil...")
    for f in os.listdir(rutaCopia):
        os.remove(os.path.join(rutaCopia, f))
        
#Metodo que copia recursivamente
def copia(dir_origen,dir_destino):
    print("Copiando...")
    copy_tree(dir_origen, dir_destino)
    print("Copiado")
    print(os.listdir(dir_destino))

In [4]:
rutaBase= "../PredictorGastoTuristico/DatosGuardadosVirgenes/GM_JOIN_Carct_Soporte/"
rutaCopia= "../PredictorGastoTuristico/DatosVolatiles/"

limpiaCarpetaVolatil(rutaCopia)
copia(rutaBase,rutaCopia)

Limpiando Carpeta Volatil...
Copiando...
Copiado
['ADR_RevPAR_ingresos_div1.csv.csv', 'ADR_RevPAR_ingresos_div2.csv.csv', 'establecimientos_plazas.csv.csv', 'estancia_media.csv.csv', 'GMI_join_cc.csv', 'tasa_ocupacion.csv.csv']

## Primero cargamos los archivos para tratarlos y finalmente unirlos:

In [5]:
ruta = rutaCopia
list_csv_names = os.listdir(ruta)
index = 0
for archivo in list_csv_names:
    print(str(index) + " " + archivo)
    index = index + 1

0 ADR_RevPAR_ingresos_div1.csv.csv
1 ADR_RevPAR_ingresos_div2.csv.csv
2 establecimientos_plazas.csv.csv
3 estancia_media.csv.csv
4 GMI_join_cc.csv
5 tasa_ocupacion.csv.csv

In [6]:
ADR_RevPAR_ingresos_div1 = pd.read_csv(ruta+list_csv_names[0],keep_default_na=False, na_values=[""])
ADR_RevPAR_ingresos_div2 = pd.read_csv(ruta+list_csv_names[1],keep_default_na=False, na_values=[""])
establecimientos_plazas = pd.read_csv(ruta+list_csv_names[2],keep_default_na=False, na_values=[""])
estancia_media = pd.read_csv(ruta+list_csv_names[3],keep_default_na=False, na_values=[""])
GMI_join_cc = pd.read_csv(ruta+list_csv_names[4],keep_default_na=False, na_values=[""])
tasa_ocupacion = pd.read_csv(ruta+list_csv_names[5],keep_default_na=False, na_values=[""])

**GMI_join_cc** -> GASTO MEDIO ISLAS UNIDO CON CARACTERISTICAS CLIENTE

In [7]:
list_all_csv = [ADR_RevPAR_ingresos_div1,ADR_RevPAR_ingresos_div2,establecimientos_plazas,
                estancia_media,GMI_join_cc,tasa_ocupacion]

# Empezamos trabajando con el archivo gasto_medio_islas como pivote

In [8]:
GMI_join_cc.head(5)

,fecha,pais,isla,Total Turistas,Total Turistas Principales,Total Turistas Secundarios,total gasto por turista,gasto por turista alojamiento,gasto por turista transporte nacional / internacional,gasto por turista otros,...,Turistas Hombres TOTAL EDADES,Turistas Mujeres TOTAL EDADES,Total Turistas por motivo: Ocio o vacaciones,Total Turistas por motivo: Otros motivos,Total Turistas por motivo: Personal,Total Turistas por motivo: TOTAL MOTIVOS,Total Turistas por motivo: Trabajo o negocios,Total Turistas: No contrataron un paquete turístico,Total Turistas: Sí contrataron un paquete turístico,Total Turistas: Total
0,2010Q1,Alemania,Fuerteventura,143560.0,139893.0,3668.0,1040.55,473.62,334.83,232.11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2010Q1,Alemania,Gran Canaria,213576.0,210319.0,3258.0,1195.45,498.81,350.78,345.86,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2010Q1,Alemania,La Palma,24677.0,21531.0,3146.0,1052.89,380.01,290.08,382.81,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2010Q1,Alemania,Lanzarote,78239.0,72847.0,5392.0,1012.47,406.05,293.55,312.86,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2010Q1,Alemania,Tenerife,166119.0,165266.0,854.0,1242.21,476.28,362.34,403.60,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
i = 0
for archivo in list_all_csv:
    print(list_csv_names[i])
    print("\n {} \n".format(archivo.dtypes))
    i = i + 1

ADR_RevPAR_ingresos_div1.csv.csv

 indicador     object
isla          object
fecha         object
valor        float64
dtype: object

ADR_RevPAR_ingresos_div2.csv.csv

 indicador     object
isla          object
fecha         object
valor        float64
dtype: object

establecimientos_plazas.csv.csv

 indicador    object
isla         object
fecha        object
valor         int64
dtype: object

estancia_media.csv.csv

 pais      object
isla      object
fecha     object
valor    float64
dtype: object

GMI_join_cc.csv

 fecha                                                     object
pais                                                      object
isla                                                      object
Total Turistas                                           float64
Total Turistas Principales                               float64
Total Turistas Secundarios                               float64
total gasto por turista                                  float64
gasto por turista alojamiento                            float64
gasto por turista transporte nacional / internacional    float64
gasto por turista  otros                                 float64
Turistas Hombres De 15 a 24                              float64
Turistas Mujeres De 15 a 24                              float64
Turistas Hombres De 25 a 44                              float64
Turistas Mujeres De 25 a 44                              float64
Turistas Hombres De 45 a 64                              float64
Turistas Mujeres De 45 a 64                              float64
Turistas Hombres Mayor de 64                             float64
Turistas Mujeres Mayor de 64                             float64
Turistas Hombres Menor de 15                             float64
Turistas Mujeres Menor de 15                             float64
Turistas Hombres TOTAL EDADES                            float64
Turistas Mujeres TOTAL EDADES                            float64
Total Turistas por motivo: Ocio o vacaciones             float64
Total Turistas por motivo: Otros motivos                 float64
Total Turistas por motivo: Personal                      float64
Total Turistas por motivo: TOTAL MOTIVOS                 float64
Total Turistas por motivo: Trabajo o negocios            float64
Total Turistas: No contrataron un paquete turístico      float64
Total Turistas: Sí contrataron un paquete turístico      float64
Total Turistas: Total                                    float64
dtype: object

tasa_ocupacion.csv.csv

 indicador     object
isla          object
fecha         object
valor        float64
dtype: object

Tal y como vemos los datos no mantienen los tipos establecidos en su tratamiento, asique volveremos a tratarlos nuevamente...

# 1. Astype 

### Columna `valor` tipo int  (CHECK)

## Trataremos las siguientes:

### Columnas `Fecha, País, Islas, indicador` como Categóricas

hemos detectado que en la columna valor hay elementos que no son numeros, y son ".", ".." o "...", vamos a sustituir esto por "0"

In [10]:
i = 0
for archivo in list_all_csv:
    
#COLUMNAS COMUNES
    
    #FECHA
    archivo = archivo.astype({"fecha":'period[Q-DEC]'}) 
    # ISLA
    archivo = archivo.astype({"isla":'category'})
    
#COLUMNAS NO COMUNES

    # PAIS
    if 'pais' in archivo.columns:
        archivo = archivo.astype({"pais":'category'})
    # INDICADOR
    if 'indicador' in archivo.columns:
        archivo = archivo.astype({"indicador":'category'})
    
    print("Se han modificado los dtypes del archivo: {} a: \n {}".format(
            list_csv_names[i], archivo.dtypes
    ))
     
    #Por alguna razon debemos guardar cambios porque de no hacerlo por alguna manera que
    # desconozco no se machaca la informacion existente y no se actualiza el dataframe...
    list_all_csv[i] = archivo
    i = i + 1

Se han modificado los dtypes del archivo: ADR_RevPAR_ingresos_div1.csv.csv a:
 indicador         category
isla              category
fecha        period[Q-DEC]
valor              float64
dtype: object
Se han modificado los dtypes del archivo: ADR_RevPAR_ingresos_div2.csv.csv a:
 indicador         category
isla              category
fecha        period[Q-DEC]
valor              float64
dtype: object
Se han modificado los dtypes del archivo: establecimientos_plazas.csv.csv a:
 indicador         category
isla              category
fecha        period[Q-DEC]
valor                int64
dtype: object
Se han modificado los dtypes del archivo: estancia_media.csv.csv a:
 pais          category
isla          category
fecha    period[Q-DEC]
valor          float64
dtype: object
Se han modificado los dtypes del archivo: GMI_join_cc.csv a:
 fecha                                                    period[Q-DEC]
pais                                                          category
isla                                                          category
Total Turistas                                                 float64
Total Turistas Principales                                     float64
Total Turistas Secundarios                                     float64
total gasto por turista                                        float64
gasto por turista alojamiento                                  float64
gasto por turista transporte nacional / internacional          float64
gasto por turista  otros                                       float64
Turistas Hombres De 15 a 24                                    float64
Turistas Mujeres De 15 a 24                                    float64
Turistas Hombres De 25 a 44                                    float64
Turistas Mujeres De 25 a 44                                    float64
Turistas Hombres De 45 a 64                                    float64
Turistas Mujeres De 45 a 64                                    float64
Turistas Hombres Mayor de 64                                   float64
Turistas Mujeres Mayor de 64                                   float64
Turistas Hombres Menor de 15                                   float64
Turistas Mujeres Menor de 15                                   float64
Turistas Hombres TOTAL EDADES                                  float64
Turistas Mujeres TOTAL EDADES                                  float64
Total Turistas por motivo: Ocio o vacaciones                   float64
Total Turistas por motivo: Otros motivos                       float64
Total Turistas por motivo: Personal                            float64
Total Turistas por motivo: TOTAL MOTIVOS                       float64
Total Turistas por motivo: Trabajo o negocios                  float64
Total Turistas: No contrataron un paquete turístico            float64
Total Turistas: Sí contrataron un paquete turístico            float64
Total Turistas: Total                                          float64
dtype: object
Se han modificado los dtypes del archivo: tasa_ocupacion.csv.csv a:
 indicador         category
isla              category
fecha        period[Q-DEC]
valor              float64
dtype: object

# **AÑADIENDO CARACTERTISTICAS DE SOPORTE **

## Al pivote `GMI_join_cc` le iremos añadiendo mas datos.

        2. ADR_RevPAR_ingresos_div1 y ADR_RevPAR_ingresos_div2
        3. establecimientos_plazas
        4. estancia_media
        5. tasa_ocupacion

# 2. Añadimos `ADR_RevPAR_ingresos_div1` y `ADR_RevPAR_ingresos_div2`:

- ADR_RevPAR_ingresos_div1 nos indica `Ingresos totales`
- ADR_RevPAR_ingresos_div2 nos indica `Ingresos por habitación disponible (RevPAR)` y `Tarifa media por habitación mensual (ADR)`

### En ambos casos `transformaremos las filas en columnas` para asi unirlo al gasto.

# 2.1 Tratamos ADR_RevPAR_ingresos_div1

In [11]:
ADR_RevPAR_ingresos_div1.head()

          indicador   isla   fecha         valor
0  Ingresos totales  Adeje  2010Q1  9.468070e+07
1  Ingresos totales  Adeje  2010Q2  6.994242e+07
2  Ingresos totales  Adeje  2010Q3  8.967742e+07
3  Ingresos totales  Adeje  2010Q4  1.040901e+08
4  Ingresos totales  Adeje  2011Q1  1.196745e+08

In [12]:
ADR_RevPAR_ingresos_div1.indicador.unique()

array(['Ingresos totales'], dtype=object)

La columna indicador tiene 1 unico valor asique renombramos columna valor

In [13]:
ADR_RevPAR_ingresos_div1.rename(columns={'valor':'Ingresos totales'}, inplace=True) # Renombramos la columna valor
ADR_RevPAR_ingresos_div1.drop('indicador', axis=1, inplace=True)                    # Eliminamos la columna indicador
ADR_RevPAR_ingresos_div1.reset_index(drop=True, inplace=True)                       # Reiniciamos el indice

#visualizamos cambios
ADR_RevPAR_ingresos_div1.head()

    isla   fecha  Ingresos totales
0  Adeje  2010Q1      9.468070e+07
1  Adeje  2010Q2      6.994242e+07
2  Adeje  2010Q3      8.967742e+07
3  Adeje  2010Q4      1.040901e+08
4  Adeje  2011Q1      1.196745e+08

# 2.2 Tratamos ADR_RevPAR_ingresos_div2

In [14]:
ADR_RevPAR_ingresos_div2.head()

                                     indicador   isla   fecha      valor
0  Ingresos por habitación disponible (RevPAR)  Adeje  2010Q1  50.136667
1  Ingresos por habitación disponible (RevPAR)  Adeje  2010Q2  36.790000
2  Ingresos por habitación disponible (RevPAR)  Adeje  2010Q3  47.610000
3  Ingresos por habitación disponible (RevPAR)  Adeje  2010Q4  53.690000
4  Ingresos por habitación disponible (RevPAR)  Adeje  2011Q1  62.810000

In [15]:
ADR_RevPAR_ingresos_div2.indicador.unique()

array(['Ingresos por habitación disponible (RevPAR)',
       'Tarifa media por habitación mensual (ADR)'], dtype=object)

La columna indicador tiene 2 valores, los cogeremos y crearemos columnas de su valor

In [16]:
#COLUMNA RevPAR

# Filtramos por RevPAR
dft = ADR_RevPAR_ingresos_div2[ADR_RevPAR_ingresos_div2.indicador.isin(["Ingresos por habitación disponible (RevPAR)"])]              
dft.rename(columns={'valor':'RevPAR'}, inplace=True)   # Renombramos la columna valor
dft.drop('indicador', axis=1, inplace=True)                 # Eliminamos la columna tipo_turista
dft.reset_index(drop=True, inplace=True)                       # Reiniciamos el indice

#COLUMNA ADR

# Filtramos por ADR
dft2 = ADR_RevPAR_ingresos_div2[ADR_RevPAR_ingresos_div2.indicador.isin(["Tarifa media por habitación mensual (ADR)"])]
dft2.rename(columns={'valor':'ADR'}, inplace=True)
dft2.drop('indicador', axis=1, inplace=True)    
dft2.reset_index(drop=True, inplace=True)

#Aqui vemos como la division se ha hecho correctamente
print("Antes:{}".format(ADR_RevPAR_ingresos_div2.shape))
print("Filtrando por RevPAR: {}".format(dft.shape))
print("Filtrando por ADR: {}".format(dft2.shape))

Antes:(3120, 4)
Filtrando por RevPAR: (1560, 3)
Filtrando por ADR: (1560, 3)

C:\Users\angel\anaconda3\lib\site-packages\pandas\core\frame.py:4296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(
C:\Users\angel\anaconda3\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

### Aquí unimos los datos:

Hacemos uso de merge ya que con esa función hacemos uniones, en los parámetros indicamos los df a unir, luego ponemos las columnas que harán como clave para la unión y finalemnte indicamos left y right index a True que implica que (utilizamos el índice del DataFrame derch e izq como clave de unión)

Doc: https://stackoverflow.com/questions/51814612/understanding-the-left-index-and-right-index-arguments-in-pandas-merge

In [17]:
df = pd.merge(left=dft,right=dft2, on=['isla','fecha'], left_index=True, right_index=True)
ADR_RevPAR_ingresos_div2 = df
ADR_RevPAR_ingresos_div2.head(2)

    isla   fecha     RevPAR        ADR
0  Adeje  2010Q1  50.136667  67.160000
1  Adeje  2010Q2  36.790000  59.066667

In [18]:
ADR_RevPAR_ingresos_div2.shape

(1560, 4)

### Unificamos ADR_RevPAR_ingresos_div1 y ADR_RevPAR_ingresos_div2

In [19]:
ADR_RevPAR_ingresos = pd.merge(left=ADR_RevPAR_ingresos_div1,
                               right=ADR_RevPAR_ingresos_div2, 
                               on=['isla','fecha'], 
                               left_index=True, right_index=True)
ADR_RevPAR_ingresos.head(2)

    isla   fecha  Ingresos totales     RevPAR        ADR
0  Adeje  2010Q1       94680697.18  50.136667  67.160000
1  Adeje  2010Q2       69942418.29  36.790000  59.066667

# 3 Establecimientos plazas

In [20]:
establecimientos_plazas.head()

                   indicador   isla   fecha  valor
0  Establecimientos abiertos  Adeje  2010Q1    330
1  Establecimientos abiertos  Adeje  2010Q2    329
2  Establecimientos abiertos  Adeje  2010Q3    326
3  Establecimientos abiertos  Adeje  2010Q4    330
4  Establecimientos abiertos  Adeje  2011Q1    333

In [21]:
establecimientos_plazas.indicador.unique()

array(['Establecimientos abiertos',
       'Habitaciones-apartamentos disponibles', 'Plazas ofertadas'],
      dtype=object)

La columna indicador tiene 3 valores, los cogeremos y crearemos columnas de su valor

In [22]:
#COLUMNA Establecimientos abiertos

dft = establecimientos_plazas[establecimientos_plazas.indicador.isin(["Establecimientos abiertos"])]              
dft.rename(columns={'valor':'Establecimientos abiertos'}, inplace=True)   # Renombramos la columna valor
dft.drop('indicador', axis=1, inplace=True)                 # Eliminamos la columna tipo_turista
dft.reset_index(drop=True, inplace=True)                       # Reiniciamos el indice

#COLUMNA Habitaciones-apartamentos disponibles

dft2 = establecimientos_plazas[establecimientos_plazas.indicador.isin(["Habitaciones-apartamentos disponibles"])]
dft2.rename(columns={'valor':'Hab-aprt disponibles'}, inplace=True)
dft2.drop('indicador', axis=1, inplace=True)    
dft2.reset_index(drop=True, inplace=True)

#COLUMNA Plazas ofertadas

dft3 = establecimientos_plazas[establecimientos_plazas.indicador.isin(["Plazas ofertadas"])]
dft3.rename(columns={'valor':'Plazas ofertadas'}, inplace=True)
dft3.drop('indicador', axis=1, inplace=True)    
dft3.reset_index(drop=True, inplace=True)

#Aqui vemos como la division se ha hecho correctamente
print("Antes:{}".format(establecimientos_plazas.shape))
print("Filtrando por Establecimientos abiertos: {}".format(dft.shape))
print("Filtrando por Habitaciones-apartamentos disponibles: {}".format(dft2.shape))
print("Filtrando por Plazas ofertadas: {}".format(dft3.shape))

Antes:(4920, 4)
Filtrando por Establecimientos abiertos: (1640, 3)
Filtrando por Habitaciones-apartamentos disponibles: (1640, 3)
Filtrando por Plazas ofertadas: (1640, 3)

C:\Users\angel\anaconda3\lib\site-packages\pandas\core\frame.py:4296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(
C:\Users\angel\anaconda3\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

### Aquí unimos los datos:

Hacemos uso de merge ya que con esa función hacemos uniones, en los parámetros indicamos los df a unir, luego ponemos las columnas que harán como clave para la unión y finalemnte indicamos left y right index a True que implica que (utilizamos el índice del DataFrame derch e izq como clave de unión)

Doc: https://stackoverflow.com/questions/51814612/understanding-the-left-index-and-right-index-arguments-in-pandas-merge

In [23]:
df = pd.merge(left=dft,right=dft2, on=['isla','fecha'], left_index=True, right_index=True)
df2 = pd.merge(left=df,right=dft3, on=['isla','fecha'], left_index=True, right_index=True)
establecimientos_plazas = df2
establecimientos_plazas.head(2)

,isla,fecha,Establecimientos abiertos,Hab-aprt disponibles,Plazas ofertadas
0,Adeje,2010Q1,330,63006,151899
1,Adeje,2010Q2,329,62729,150839

In [24]:
establecimientos_plazas.shape

(1640, 5)

# 4 Estancia media

In [25]:
estancia_media.head()

       pais   isla   fecha      valor
0  Alemania  Adeje  2010Q1   9.970000
1  Alemania  Adeje  2010Q2   9.296667
2  Alemania  Adeje  2010Q3  10.263333
3  Alemania  Adeje  2010Q4   9.476667
4  Alemania  Adeje  2011Q1  10.516667

Solo hay que renombrar la columna

In [26]:
estancia_media.rename(columns={'valor':'Estancia media'}, inplace=True)   # Renombramos la columna valor

#visualizamos cambios
estancia_media.head()

       pais   isla   fecha  Estancia media
0  Alemania  Adeje  2010Q1        9.970000
1  Alemania  Adeje  2010Q2        9.296667
2  Alemania  Adeje  2010Q3       10.263333
3  Alemania  Adeje  2010Q4        9.476667
4  Alemania  Adeje  2011Q1       10.516667

# 5 Tasa de ocupación

In [27]:
tasa_ocupacion.head()

                                         indicador   isla   fecha      valor
0  Tasa de ocupación por habitaciones-apartamentos  Adeje  2010Q1  74.816667
1  Tasa de ocupación por habitaciones-apartamentos  Adeje  2010Q2  62.096667
2  Tasa de ocupación por habitaciones-apartamentos  Adeje  2010Q3  73.340000
3  Tasa de ocupación por habitaciones-apartamentos  Adeje  2010Q4  74.846667
4  Tasa de ocupación por habitaciones-apartamentos  Adeje  2011Q1  86.040000

In [28]:
tasa_ocupacion.indicador.unique()

array(['Tasa de ocupación por habitaciones-apartamentos',
       'Tasa de ocupación por plazas'], dtype=object)

La columna indicador tiene 3 valores, los cogeremos y crearemos columnas de su valor

In [29]:
#COLUMNA Establecimientos abiertos

dft = tasa_ocupacion[tasa_ocupacion.indicador.isin(["Tasa de ocupación por habitaciones-apartamentos"])]              
dft.rename(columns={'valor':'Tasa ocupación por Hab-aprt'}, inplace=True)   # Renombramos la columna valor
dft.drop('indicador', axis=1, inplace=True)                 # Eliminamos la columna tipo_turista
dft.reset_index(drop=True, inplace=True)                       # Reiniciamos el indice

#COLUMNA Habitaciones-apartamentos disponibles

dft2 = tasa_ocupacion[tasa_ocupacion.indicador.isin(["Tasa de ocupación por plazas"])]
dft2.rename(columns={'valor':'Tasa ocupación por plazas'}, inplace=True)
dft2.drop('indicador', axis=1, inplace=True)    
dft2.reset_index(drop=True, inplace=True)

#Aqui vemos como la division se ha hecho correctamente
print("Antes:{}".format(tasa_ocupacion.shape))
print("Filtrando por Establecimientos abiertos: {}".format(dft.shape))
print("Filtrando por Habitaciones-apartamentos disponibles: {}".format(dft2.shape))

Antes:(3120, 4)
Filtrando por Establecimientos abiertos: (1560, 3)
Filtrando por Habitaciones-apartamentos disponibles: (1560, 3)

C:\Users\angel\anaconda3\lib\site-packages\pandas\core\frame.py:4296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(
C:\Users\angel\anaconda3\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

### Aquí unimos los datos:

Hacemos uso de merge ya que con esa función hacemos uniones, en los parámetros indicamos los df a unir, luego ponemos las columnas que harán como clave para la unión y finalemnte indicamos left y right index a True que implica que (utilizamos el índice del DataFrame derch e izq como clave de unión)

Doc: https://stackoverflow.com/questions/51814612/understanding-the-left-index-and-right-index-arguments-in-pandas-merge

In [30]:
df = pd.merge(left=dft,right=dft2, on=['isla','fecha'], left_index=True, right_index=True)
tasa_ocupacion = df
tasa_ocupacion.head(2)

    isla   fecha  Tasa ocupación por Hab-aprt  Tasa ocupación por plazas
0  Adeje  2010Q1                    74.816667                  64.840000
1  Adeje  2010Q2                    62.096667                  57.446667

In [31]:
tasa_ocupacion.shape

(1560, 4)

# - NOTA IMPORTANTE:

Debemos tener en cuenta que el estudio sera referente unica y exclusivamente a los datos de los `paises` e `islas` que tiene **GMI_join_cc**

In [32]:
GMI_join_cc.pais.unique()

array(['Alemania', 'España', 'Holanda', 'Otros países', 'Países Nórdicos',
       'Reino Unido', 'TOTAL'], dtype=object)

In [33]:
GMI_join_cc.isla.unique()

array(['Fuerteventura', 'Gran Canaria', 'La Palma', 'Lanzarote',
       'Tenerife', 'CANARIAS'], dtype=object)

Tal y como veremos a continuanción los archivos que vamos a unir tienen mas información que perderemos.

In [34]:
estancia_media.pais.unique()

array(['Alemania', 'Canarias', 'España', 'Holanda', 'Otros países',
       'Países Nórdicos', 'RESIDENTES EN EL EXTRANJERO', 'Reino Unido',
       'Residentes en España excepto Canarias', 'TOTAL'], dtype=object)

In [35]:
estancia_media.isla.unique()

array(['Adeje', 'Antigua', 'Arona', 'Arrecife', 'Breña Baja', 'CANARIAS',
       'EL HIERRO', 'El Paso', 'El Pinar de El Hierro', 'Frontera',
       'Fuencaliente de La Palma', 'Fuerteventura', 'Gran Canaria',
       'Granadilla de Abona', 'LA GOMERA', 'La Oliva', 'La Palma',
       'Lanzarote', 'Las Palmas de Gran Canaria', 'Los Llanos de Aridane',
       'Mogán', 'Puerto de la Cruz', 'Puerto del Rosario', 'Pájara',
       'Resto de municipios de Gran Canaria',
       'Resto de municipios de La Gomera',
       'Resto de municipios de La Palma',
       'Resto de municipios de Tenerife', 'San Bartolomé de Tirajana',
       'San Sebastián de La Gomera', 'Santa Cruz de La Palma',
       'Santa Cruz de Tenerife', 'Santiago del Teide', 'Teguise',
       'Tenerife', 'Tías', 'Valle Gran Rey', 'Valverde', 'Yaiza'],
      dtype=object)

# 6. UNION DE DATOS CON `GMI_join_cc`


## Al pivote `GMI_join_cc` le iremos añadiendo mas datos.

- 6.1 ADR_RevPAR_ingresos_div1 y ADR_RevPAR_ingresos_div2 -> `ADR_RevPAR_ingresos`

- 6.2 `establecimientos_plazas`

- 6.3 `estancia_media`

- 6.4 `tasa_ocupacion`

## 6.1 Unión `ADR_RevPAR_ingresos` con`GMI_join_cc`

In [36]:
merged = pd.merge(ADR_RevPAR_ingresos,GMI_join_cc,on=['fecha','isla'],how="outer")
merged.shape

(3000, 33)

In [37]:
merged.isnull().sum()

isla                                                        0
fecha                                                       0
Ingresos totales                                            0
RevPAR                                                      0
ADR                                                         0
pais                                                     1320
Total Turistas                                           1320
Total Turistas Principales                               1600
Total Turistas Secundarios                               1600
total gasto por turista                                  1325
gasto por turista alojamiento                            1330
gasto por turista transporte nacional / internacional    1326
gasto por turista  otros                                 1324
Turistas Hombres De 15 a 24                              2720
Turistas Mujeres De 15 a 24                              2720
Turistas Hombres De 25 a 44                              2720
Turistas Mujeres De 25 a 44                              2720
Turistas Hombres De 45 a 64                              2720
Turistas Mujeres De 45 a 64                              2720
Turistas Hombres Mayor de 64                             2720
Turistas Mujeres Mayor de 64                             2720
Turistas Hombres Menor de 15                             2720
Turistas Mujeres Menor de 15                             2720
Turistas Hombres TOTAL EDADES                            2720
Turistas Mujeres TOTAL EDADES                            2720
Total Turistas por motivo: Ocio o vacaciones             2320
Total Turistas por motivo: Otros motivos                 2320
Total Turistas por motivo: Personal                      2320
Total Turistas por motivo: TOTAL MOTIVOS                 2320
Total Turistas por motivo: Trabajo o negocios            2320
Total Turistas: No contrataron un paquete turístico      2320
Total Turistas: Sí contrataron un paquete turístico      2320
Total Turistas: Total                                    2320
dtype: int64

In [38]:
merged.tail(3)

,isla,fecha,Ingresos totales,RevPAR,ADR,pais,Total Turistas,Total Turistas Principales,Total Turistas Secundarios,total gasto por turista,...,Turistas Hombres TOTAL EDADES,Turistas Mujeres TOTAL EDADES,Total Turistas por motivo: Ocio o vacaciones,Total Turistas por motivo: Otros motivos,Total Turistas por motivo: Personal,Total Turistas por motivo: TOTAL MOTIVOS,Total Turistas por motivo: Trabajo o negocios,Total Turistas: No contrataron un paquete turístico,Total Turistas: Sí contrataron un paquete turístico,Total Turistas: Total
2997,Yaiza,2019Q2,53458349.41,67.583333,86.08,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2998,Yaiza,2019Q3,71925126.97,89.690000,108.40,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2999,Yaiza,2019Q4,63146104.61,80.873333,101.52,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## 6.2 Unión de lo anterior con `establecimientos_plazas`

In [39]:
merged = pd.merge(merged,establecimientos_plazas,on=['fecha','isla'],how="outer")
merged.shape

(3080, 36)

In [40]:
merged.tail(1)

,isla,fecha,Ingresos totales,RevPAR,ADR,pais,Total Turistas,Total Turistas Principales,Total Turistas Secundarios,total gasto por turista,...,Total Turistas por motivo: Otros motivos,Total Turistas por motivo: Personal,Total Turistas por motivo: TOTAL MOTIVOS,Total Turistas por motivo: Trabajo o negocios,Total Turistas: No contrataron un paquete turístico,Total Turistas: Sí contrataron un paquete turístico,Total Turistas: Total,Establecimientos abiertos,Hab-aprt disponibles,Plazas ofertadas
3079,Resto de municipios de Lanzarote,2019Q4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21,1707,6522

## 6.3 Unión de lo anterior con `estancia_media`

In [41]:
merged = pd.merge(merged,estancia_media,on=['fecha','pais','isla'],how="outer")
merged.shape

(17000, 37)

In [42]:
merged.tail(1)

,isla,fecha,Ingresos totales,RevPAR,ADR,pais,Total Turistas,Total Turistas Principales,Total Turistas Secundarios,total gasto por turista,...,Total Turistas por motivo: Personal,Total Turistas por motivo: TOTAL MOTIVOS,Total Turistas por motivo: Trabajo o negocios,Total Turistas: No contrataron un paquete turístico,Total Turistas: Sí contrataron un paquete turístico,Total Turistas: Total,Establecimientos abiertos,Hab-aprt disponibles,Plazas ofertadas,Estancia media
16999,Yaiza,2019Q4,NaN,NaN,NaN,TOTAL,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.46

## 6.4 Unión de lo anterior con `tasa_ocupacion`

In [43]:
merged = pd.merge(merged,tasa_ocupacion,on=['fecha','isla'],how="outer")
merged.shape

(17000, 39)

In [44]:
merged.tail(1)

,isla,fecha,Ingresos totales,RevPAR,ADR,pais,Total Turistas,Total Turistas Principales,Total Turistas Secundarios,total gasto por turista,...,Total Turistas por motivo: Trabajo o negocios,Total Turistas: No contrataron un paquete turístico,Total Turistas: Sí contrataron un paquete turístico,Total Turistas: Total,Establecimientos abiertos,Hab-aprt disponibles,Plazas ofertadas,Estancia media,Tasa ocupación por Hab-aprt,Tasa ocupación por plazas
16999,Resto de municipios de Lanzarote,2019Q4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,21.0,1707.0,6522.0,NaN,NaN,NaN

# 7. OBTENCIÓN DE FICHEROS FINALES

## 7.1 FICHERO FINAL CON TODO:

Este fichero contiene las filtraciones mínimas necesarias para tener un fichero útil con todos los datos de características de cliente y características de soporte que hemos trabajado así como con el único filtrado de los países e islas que están en el archivo principal de gasto medio

### OPERACIONES DE FILTRADO NECESARIAS...
Hemos visto que existen muchos elementos que son nulos debido a que hay algunos archivos que hemos unido que hacen referencia solo a `España, Total y extranjeros`,  asi como la columna isla que tenia ademas municipios; esto implica que  Es por ello por lo que hemos decidido hacer una serie de filtrado para quedarnos con los datos que son más útiles, y que solo estan en nuestro archivo principal que es la del gasto:_medio_islas.

Para ello filtramos primero por países quedándonos solo con los países de los que se hacen referencia a gasto_medio_islas ya que éstos son los únicos países que nos interesan ya que nuestro objetivo principal es el de predecir el gasto y finalmente también filtramos por la columna isla esta columna hace referencia a diferentes islas `LNZ,FTV,TNF… CANARIAS` nos quedamos con las filas referentes a datos de CANARIAS Ya que son las únicas filas que convergen en todos los datos que hemos ido uniendo.

### FILTRAMOS SOLO POR LOS `PAISES` E `ISLAS` QUE HAY EN GMI_join_cc

In [45]:
GMI_join_cc.pais.unique()

array(['Alemania', 'España', 'Holanda', 'Otros países', 'Países Nórdicos',
       'Reino Unido', 'TOTAL'], dtype=object)

In [46]:
GMI_join_cc.isla.unique()

array(['Fuerteventura', 'Gran Canaria', 'La Palma', 'Lanzarote',
       'Tenerife', 'CANARIAS'], dtype=object)

In [47]:
GMI_join_cc_cs_filtroPI = merged[merged.pais.isin(['TOTAL', 'Alemania', 'España', 
                                                   'Holanda', 'Países Nórdicos',
                                                   'Reino Unido', 'Otros países'])
                                 
                                & merged.isla.isin(['Fuerteventura', 'Gran Canaria', 
                                                    'La Palma', 'Lanzarote',
                                                    'Tenerife', 'CANARIAS'])
                                ]

GMI_join_cc_cs_filtroPI.reset_index(drop=True, inplace=True)
GMI_join_cc_cs_filtroPI.shape

(1680, 39)

In [48]:
GMI_join_cc_cs_filtroPI.head()

,isla,fecha,Ingresos totales,RevPAR,ADR,pais,Total Turistas,Total Turistas Principales,Total Turistas Secundarios,total gasto por turista,...,Total Turistas por motivo: Trabajo o negocios,Total Turistas: No contrataron un paquete turístico,Total Turistas: Sí contrataron un paquete turístico,Total Turistas: Total,Establecimientos abiertos,Hab-aprt disponibles,Plazas ofertadas,Estancia media,Tasa ocupación por Hab-aprt,Tasa ocupación por plazas
0,CANARIAS,2010Q1,647140262.7,40.72,58.483333,Alemania,620920.0,NaN,NaN,1147.19,...,4134.0,154831.0,466089.0,620920.0,5524.0,528460.0,1304800.0,11.340000,69.603333,58.31
1,CANARIAS,2010Q1,647140262.7,40.72,58.483333,España,335230.0,NaN,NaN,666.96,...,53619.0,201097.0,134132.0,335230.0,5524.0,528460.0,1304800.0,4.683333,69.603333,58.31
2,CANARIAS,2010Q1,647140262.7,40.72,58.483333,Holanda,94439.0,NaN,NaN,1107.77,...,961.0,21215.0,73224.0,94439.0,5524.0,528460.0,1304800.0,10.133333,69.603333,58.31
3,CANARIAS,2010Q1,647140262.7,40.72,58.483333,Otros países,439882.0,NaN,NaN,1023.57,...,11445.0,185037.0,254843.0,439881.0,5524.0,528460.0,1304800.0,9.021667,69.603333,58.31
4,CANARIAS,2010Q1,647140262.7,40.72,58.483333,Países Nórdicos,537221.0,NaN,NaN,1193.58,...,3339.0,81875.0,455346.0,537220.0,5524.0,528460.0,1304800.0,8.546667,69.603333,58.31

In [49]:
GMI_join_cc_cs_filtroPI.isnull().sum()

isla                                                        0
fecha                                                       0
Ingresos totales                                            0
RevPAR                                                      0
ADR                                                         0
pais                                                        0
Total Turistas                                              0
Total Turistas Principales                                280
Total Turistas Secundarios                                280
total gasto por turista                                     5
gasto por turista alojamiento                              10
gasto por turista transporte nacional / internacional       6
gasto por turista  otros                                    4
Turistas Hombres De 15 a 24                              1400
Turistas Mujeres De 15 a 24                              1400
Turistas Hombres De 25 a 44                              1400
Turistas Mujeres De 25 a 44                              1400
Turistas Hombres De 45 a 64                              1400
Turistas Mujeres De 45 a 64                              1400
Turistas Hombres Mayor de 64                             1400
Turistas Mujeres Mayor de 64                             1400
Turistas Hombres Menor de 15                             1400
Turistas Mujeres Menor de 15                             1400
Turistas Hombres TOTAL EDADES                            1400
Turistas Mujeres TOTAL EDADES                            1400
Total Turistas por motivo: Ocio o vacaciones             1000
Total Turistas por motivo: Otros motivos                 1000
Total Turistas por motivo: Personal                      1000
Total Turistas por motivo: TOTAL MOTIVOS                 1000
Total Turistas por motivo: Trabajo o negocios            1000
Total Turistas: No contrataron un paquete turístico      1000
Total Turistas: Sí contrataron un paquete turístico      1000
Total Turistas: Total                                    1000
Establecimientos abiertos                                   0
Hab-aprt disponibles                                        0
Plazas ofertadas                                            0
Estancia media                                              0
Tasa ocupación por Hab-aprt                                 0
Tasa ocupación por plazas                                   0
dtype: int64

## GUARDAMOS...

In [50]:
rutaDatosTratados = "../PredictorGastoTuristico/DatosGuardados/"
GMI_join_cc_cs_filtroPI.to_csv(rutaDatosTratados+"GMI_join_cc_cs_filtroPI.csv", index = False, encoding='utf-8')

### NOTA:

HAY MUCHOS NULOS PORQUE HAY ARCHIVOS CUYOS DATOS TRATAN UNA DIMENSION ESPECIFICA, COMO ES EL CASO DE LA EDAD Y EL SEXO QUE SOLO HABLAN DE TURISTAS LLEGADOS A CANARIAS Y NO POR CADA ISLAS.

**¿QUE HAREMOS?** -> APLICAR MAS FILTROS Y DIVIDIREMOS EL DATASET EN DOS OBTENIENDO: `GMI_join_cc_cs_filtroPI_CANARIAS` Y `GMI_join_cc_cs_filtroPI_`

## 7.2 OTRO FILTRO MAS: FILTRAMOS SOLO POR ISLA -> CANARIAS DESDE EL FILTRO ANTERIOR

In [51]:
GMI_join_cc_cs_filtroPI_FCanarias = GMI_join_cc_cs_filtroPI[GMI_join_cc_cs_filtroPI.isla.isin(["CANARIAS"])]                            
#filtrogc.drop(['sexo','edad'], axis=1, inplace=True)    
GMI_join_cc_cs_filtroPI_FCanarias.reset_index(drop=True, inplace=True)
GMI_join_cc_cs_filtroPI_FCanarias.shape

(280, 39)

In [52]:
GMI_join_cc_cs_filtroPI_FCanarias.isnull().sum()

isla                                                       0
fecha                                                      0
Ingresos totales                                           0
RevPAR                                                     0
ADR                                                        0
pais                                                       0
Total Turistas                                             0
Total Turistas Principales                               280
Total Turistas Secundarios                               280
total gasto por turista                                    0
gasto por turista alojamiento                              0
gasto por turista transporte nacional / internacional      0
gasto por turista  otros                                   0
Turistas Hombres De 15 a 24                                0
Turistas Mujeres De 15 a 24                                0
Turistas Hombres De 25 a 44                                0
Turistas Mujeres De 25 a 44                                0
Turistas Hombres De 45 a 64                                0
Turistas Mujeres De 45 a 64                                0
Turistas Hombres Mayor de 64                               0
Turistas Mujeres Mayor de 64                               0
Turistas Hombres Menor de 15                               0
Turistas Mujeres Menor de 15                               0
Turistas Hombres TOTAL EDADES                              0
Turistas Mujeres TOTAL EDADES                              0
Total Turistas por motivo: Ocio o vacaciones               0
Total Turistas por motivo: Otros motivos                   0
Total Turistas por motivo: Personal                        0
Total Turistas por motivo: TOTAL MOTIVOS                   0
Total Turistas por motivo: Trabajo o negocios              0
Total Turistas: No contrataron un paquete turístico        0
Total Turistas: Sí contrataron un paquete turístico        0
Total Turistas: Total                                      0
Establecimientos abiertos                                  0
Hab-aprt disponibles                                       0
Plazas ofertadas                                           0
Estancia media                                             0
Tasa ocupación por Hab-aprt                                0
Tasa ocupación por plazas                                  0
dtype: int64

Elimino columnas y filas nulas

In [53]:
GMI_join_cc_cs_filtroPI_FCanarias = GMI_join_cc_cs_filtroPI_FCanarias.dropna(1) #elimino columnas nulas
GMI_join_cc_cs_filtroPI_FCanarias = GMI_join_cc_cs_filtroPI_FCanarias.dropna() # elimino filas nulas
GMI_join_cc_cs_filtroPI_FCanarias.shape

(280, 37)

In [54]:
GMI_join_cc_cs_filtroPI_FCanarias.head()

,isla,fecha,Ingresos totales,RevPAR,ADR,pais,Total Turistas,total gasto por turista,gasto por turista alojamiento,gasto por turista transporte nacional / internacional,...,Total Turistas por motivo: Trabajo o negocios,Total Turistas: No contrataron un paquete turístico,Total Turistas: Sí contrataron un paquete turístico,Total Turistas: Total,Establecimientos abiertos,Hab-aprt disponibles,Plazas ofertadas,Estancia media,Tasa ocupación por Hab-aprt,Tasa ocupación por plazas
0,CANARIAS,2010Q1,647140262.7,40.72,58.483333,Alemania,620920.0,1147.19,472.84,341.47,...,4134.0,154831.0,466089.0,620920.0,5524.0,528460.0,1304800.0,11.340000,69.603333,58.31
1,CANARIAS,2010Q1,647140262.7,40.72,58.483333,España,335230.0,666.96,238.65,166.80,...,53619.0,201097.0,134132.0,335230.0,5524.0,528460.0,1304800.0,4.683333,69.603333,58.31
2,CANARIAS,2010Q1,647140262.7,40.72,58.483333,Holanda,94439.0,1107.77,455.40,337.60,...,961.0,21215.0,73224.0,94439.0,5524.0,528460.0,1304800.0,10.133333,69.603333,58.31
3,CANARIAS,2010Q1,647140262.7,40.72,58.483333,Otros países,439882.0,1023.57,417.21,291.47,...,11445.0,185037.0,254843.0,439881.0,5524.0,528460.0,1304800.0,9.021667,69.603333,58.31
4,CANARIAS,2010Q1,647140262.7,40.72,58.483333,Países Nórdicos,537221.0,1193.58,448.43,294.31,...,3339.0,81875.0,455346.0,537220.0,5524.0,528460.0,1304800.0,8.546667,69.603333,58.31

## GUARDAMOS...

In [55]:
rutaDatosTratados = "../PredictorGastoTuristico/DatosGuardados/"
GMI_join_cc_cs_filtroPI_FCanarias.to_csv(rutaDatosTratados+"GMI_join_cc_cs_filtroPI_FCanarias.csv", index = False, encoding='utf-8')

## 7.3 OTRO FILTRO MAS: 

    1- Primero filtramos por islas que no sea CANARIAS que se refiere a datos en global
    
    2- Eliminamos todo lo que se refiere a la cantidad de turistas que vienen ya que esta cantidad solo está especificada por que vienen a Canarias y no a las diferentes islas así que perderemos información relativa a la cantidad de turistas que vienen por sexo y edad o si vienen por ocio...
    
    3- Eliminamos las filas nulas

1. Filtramos por islas que no sea CANARIAS que se refiere a datos en global

In [56]:
GMI_join_cc_cs_filtroPI_F = GMI_join_cc_cs_filtroPI[~GMI_join_cc_cs_filtroPI.isla.isin(["CANARIAS"])]                             
GMI_join_cc_cs_filtroPI_F.reset_index(drop=True, inplace=True)
GMI_join_cc_cs_filtroPI_F.shape

(1400, 39)

In [57]:
GMI_join_cc_cs_filtroPI_F.columns

Index(['isla', 'fecha', 'Ingresos totales', 'RevPAR', 'ADR', 'pais',
       'Total Turistas', 'Total Turistas Principales',
       'Total Turistas Secundarios', 'total gasto por turista',
       'gasto por turista alojamiento',
       'gasto por turista transporte nacional / internacional',
       'gasto por turista  otros', 'Turistas Hombres De 15 a 24',
       'Turistas Mujeres De 15 a 24', 'Turistas Hombres De 25 a 44',
       'Turistas Mujeres De 25 a 44', 'Turistas Hombres De 45 a 64',
       'Turistas Mujeres De 45 a 64', 'Turistas Hombres Mayor de 64',
       'Turistas Mujeres Mayor de 64', 'Turistas Hombres Menor de 15',
       'Turistas Mujeres Menor de 15', 'Turistas Hombres TOTAL EDADES',
       'Turistas Mujeres TOTAL EDADES',
       'Total Turistas por motivo: Ocio o vacaciones',
       'Total Turistas por motivo: Otros motivos',
       'Total Turistas por motivo: Personal',
       'Total Turistas por motivo: TOTAL MOTIVOS',
       'Total Turistas por motivo: Trabajo o negocios',
       'Total Turistas: No contrataron un paquete turístico',
       'Total Turistas: Sí contrataron un paquete turístico',
       'Total Turistas: Total', 'Establecimientos abiertos',
       'Hab-aprt disponibles', 'Plazas ofertadas', 'Estancia media',
       'Tasa ocupación por Hab-aprt', 'Tasa ocupación por plazas'],
      dtype='object')

Columnas que voy a eliminar:

In [58]:
GMI_join_cc_cs_filtroPI_F.isnull().sum()

isla                                                        0
fecha                                                       0
Ingresos totales                                            0
RevPAR                                                      0
ADR                                                         0
pais                                                        0
Total Turistas                                              0
Total Turistas Principales                                  0
Total Turistas Secundarios                                  0
total gasto por turista                                     5
gasto por turista alojamiento                              10
gasto por turista transporte nacional / internacional       6
gasto por turista  otros                                    4
Turistas Hombres De 15 a 24                              1400
Turistas Mujeres De 15 a 24                              1400
Turistas Hombres De 25 a 44                              1400
Turistas Mujeres De 25 a 44                              1400
Turistas Hombres De 45 a 64                              1400
Turistas Mujeres De 45 a 64                              1400
Turistas Hombres Mayor de 64                             1400
Turistas Mujeres Mayor de 64                             1400
Turistas Hombres Menor de 15                             1400
Turistas Mujeres Menor de 15                             1400
Turistas Hombres TOTAL EDADES                            1400
Turistas Mujeres TOTAL EDADES                            1400
Total Turistas por motivo: Ocio o vacaciones             1000
Total Turistas por motivo: Otros motivos                 1000
Total Turistas por motivo: Personal                      1000
Total Turistas por motivo: TOTAL MOTIVOS                 1000
Total Turistas por motivo: Trabajo o negocios            1000
Total Turistas: No contrataron un paquete turístico      1000
Total Turistas: Sí contrataron un paquete turístico      1000
Total Turistas: Total                                    1000
Establecimientos abiertos                                   0
Hab-aprt disponibles                                        0
Plazas ofertadas                                            0
Estancia media                                              0
Tasa ocupación por Hab-aprt                                 0
Tasa ocupación por plazas                                   0
dtype: int64

2. Eliminamos todo lo que se refiere a la cantidad de turistas que vienen ya que esta cantidad solo está especificada por que vienen a Canarias y no a las diferentes islas así que perderemos información relativa a la cantidad de turistas que vienen por sexo y edad.

Elimino columnas y filas nulas

In [60]:
datosEliminar = ['Turistas Hombres De 15 a 24',
       'Turistas Mujeres De 15 a 24', 'Turistas Hombres De 25 a 44',
       'Turistas Mujeres De 25 a 44', 'Turistas Hombres De 45 a 64',
       'Turistas Mujeres De 45 a 64', 'Turistas Hombres Mayor de 64',
       'Turistas Mujeres Mayor de 64', 'Turistas Hombres Menor de 15',
       'Turistas Mujeres Menor de 15', 'Turistas Hombres TOTAL EDADES',
       'Turistas Mujeres TOTAL EDADES',
       'Total Turistas por motivo: Ocio o vacaciones',
       'Total Turistas por motivo: Otros motivos',
       'Total Turistas por motivo: Personal',
       'Total Turistas por motivo: TOTAL MOTIVOS',
       'Total Turistas por motivo: Trabajo o negocios',
       'Total Turistas: No contrataron un paquete turístico',
       'Total Turistas: Sí contrataron un paquete turístico',
       'Total Turistas: Total']

GMI_join_cc_cs_filtroPI_F.drop(datosEliminar, axis=1, inplace=True)

C:\Users\angel\anaconda3\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [61]:
GMI_join_cc_cs_filtroPI_F.isnull().sum()

isla                                                      0
fecha                                                     0
Ingresos totales                                          0
RevPAR                                                    0
ADR                                                       0
pais                                                      0
Total Turistas                                            0
Total Turistas Principales                                0
Total Turistas Secundarios                                0
total gasto por turista                                   5
gasto por turista alojamiento                            10
gasto por turista transporte nacional / internacional     6
gasto por turista  otros                                  4
Establecimientos abiertos                                 0
Hab-aprt disponibles                                      0
Plazas ofertadas                                          0
Estancia media                                            0
Tasa ocupación por Hab-aprt                               0
Tasa ocupación por plazas                                 0
dtype: int64

In [63]:
GMI_join_cc_cs_filtroPI_F.shape

(1400, 19)

#### NOTA
Total Turistas por motivo: Ocio o vacaciones             1000
Total Turistas por motivo: Otros motivos                 1000
Total Turistas por motivo: Personal                      1000
Total Turistas por motivo: TOTAL MOTIVOS                 1000
Total Turistas por motivo: Trabajo o negocios            1000
Total Turistas: No contrataron un paquete turístico      1000
Total Turistas: Sí contrataron un paquete turístico      1000
Total Turistas: Total                                    1000

**estas columnas no me sirven básicamente porque solo hacen referencia a dos países España total y países en el extranjero y entonces pues la mayoría de los datos son nulos si me hubiera dado cuenta antes pues no los hubiera tratado en fin es lo que hay**

In [64]:
#GMI_join_cc_cs_filtroPI_F = GMI_join_cc_cs_filtroPI_F.dropna(1) #elimino columnas nulas
GMI_join_cc_cs_filtroPI_F = GMI_join_cc_cs_filtroPI_F.dropna() # elimino filas nulas
GMI_join_cc_cs_filtroPI_F.shape

(1390, 19)

In [65]:
GMI_join_cc_cs_filtroPI_F.head()

,isla,fecha,Ingresos totales,RevPAR,ADR,pais,Total Turistas,Total Turistas Principales,Total Turistas Secundarios,total gasto por turista,gasto por turista alojamiento,gasto por turista transporte nacional / internacional,gasto por turista otros,Establecimientos abiertos,Hab-aprt disponibles,Plazas ofertadas,Estancia media,Tasa ocupación por Hab-aprt,Tasa ocupación por plazas
0,Fuerteventura,2010Q1,90130386.63,35.486667,57.63,Alemania,143560.0,139893.0,3668.0,1040.55,473.62,334.83,232.11,491.0,83818.0,201847.0,11.193333,61.59,48.633333
1,Fuerteventura,2010Q1,90130386.63,35.486667,57.63,España,26503.0,23225.0,3278.0,692.60,271.42,175.27,245.91,491.0,83818.0,201847.0,4.090000,61.59,48.633333
2,Fuerteventura,2010Q1,90130386.63,35.486667,57.63,Holanda,8226.0,8155.0,71.0,1008.43,423.49,309.84,275.10,491.0,83818.0,201847.0,10.490000,61.59,48.633333
3,Fuerteventura,2010Q1,90130386.63,35.486667,57.63,Otros países,41629.0,40790.0,838.0,871.73,380.71,270.55,220.47,491.0,83818.0,201847.0,8.880000,61.59,48.633333
4,Fuerteventura,2010Q1,90130386.63,35.486667,57.63,Países Nórdicos,34385.0,34081.0,304.0,985.05,442.19,281.08,261.78,491.0,83818.0,201847.0,7.893333,61.59,48.633333

## GUARDAMOS...

In [66]:
rutaDatosTratados = "../PredictorGastoTuristico/DatosGuardados/"
GMI_join_cc_cs_filtroPI_F.to_csv(rutaDatosTratados+"GMI_join_cc_cs_filtroPI_F.csv", index = False, encoding='utf-8')